Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
node_modules
build
package
**/.env
**/node_modules
**/dist
**/build
**/.next
**/coverage
**/.nyc_output
**/cypress
**/cypress.config.js
**/cypress.config.ts
**/test-results
**/playwright-report
**/playwright/.cache
**/.turbo
**/.pnpm-store
.pnpm-store/*