@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  font-family: 'Inter', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.floating {
  -webkit-animation: floating 2.5s linear infinite;
  animation: floating 2.5s linear infinite;
}

@-webkit-keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}

@keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}
