/* Animated Gradient Border */
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

.animate-gradient-border {
  border: 1px solid transparent;
  background:
    linear-gradient(45deg, white, white) padding-box,
    conic-gradient(
        from var(--border-angle),
        rgb(148 163 184 / 0.3) 75%,
        var(--primary, #1d4ee2) 82%,
        var(--primary-foreground, white) 88%,
        var(--primary, #1d4ee2) 92%,
        rgb(148 163 184 / 0.3) 100%
      )
      border-box;
  transition: --border-angle 3s ease-in-out;
}

.animate-gradient-border:hover {
  animation: border 4s ease-in-out infinite;
}

:global(.dark) .animate-gradient-border {
  background:
    linear-gradient(45deg, rgb(0 0 0), rgb(0 0 0)) padding-box,
    conic-gradient(
        from var(--border-angle),
        rgb(71 85 105 / 0.48) 75%,
        var(--primary, #1d4ee2) 82%,
        var(--primary-foreground, black) 88%,
        var(--primary, #1d4ee2) 92%,
        rgb(71 85 105 / 0.48) 100%
      )
      border-box;
}
