# Supabase setup - Required
PUBLIC_SUPABASE_URL=http://localhost:54321
PUBLIC_SUPABASE_ANON_KEY=
PRIVATE_SUPABASE_SERVICE_ROLE=

# Selfhosting
IS_SELFHOSTED=false

# Unsplash setup - Optional if you want to use Unsplash images
UNSPLASH_API_KEY=

VITE_SENTRY_AUTH_TOKEN=
VITE_SENTRY_ORG_NAME=
VITE_SENTRY_PROJECT_NAME=
# Configure https locally https://stackoverflow.com/a/76525335
USE_HTTPS_ON_LOCALHOST=false

# OpenAI setup - Optional if you want to use OpenAI
OPENAI_API_KEY=

# Sever URL - Optional if you want to use video upload and pdf downloads
PUBLIC_SERVER_URL=

# For getting metadata for signup users.
PUBLIC_IP_REGISTRY_KEY=

# Domain management
PRIVATE_APP_HOST=classroomio.com
PRIVATE_APP_SUBDOMAINS=app

LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_STORE_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=