# *Supabase setup - learn more https://classroomio.com/docs/contributor-guides/supabase-cloud
PUBLIC_SUPABASE_URL=http://localhost:54321
PUBLIC_SUPABASE_ANON_KEY=
PRIVATE_SUPABASE_SERVICE_ROLE=

# Selfhosting - should be true if you are selfhosting
PUBLIC_IS_SELFHOSTED=false
DEPLOYMENT_PROVIDER= # docker or empty. empty will use adapter-auto for sveltekit build

# Unsplash setup - Optional if you want to use Unsplash images
UNSPLASH_API_KEY=

# OpenAI setup - Optional if you want to use the AI features
OPENAI_API_KEY=

# Sever URL - Optional if you want to use video upload and pdf downloads
# This is the deployment URL of apps/api
PUBLIC_SERVER_URL=

# For getting metadata for signup users.
PUBLIC_IP_REGISTRY_KEY=

# Domain management - should be your domain
# The final domain is app.classroomio.com where `app` is PRIVATE_APP_SUBDOMAINS and `classroomio.com` is PRIVATE_APP_HOST
PRIVATE_APP_HOST=classroomio.com
PRIVATE_APP_SUBDOMAINS=app


# ============  CLOUD VERSION SPECIFIC ============
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_STORE_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=

VITE_SENTRY_AUTH_TOKEN=
VITE_SENTRY_ORG_NAME=
VITE_SENTRY_PROJECT_NAME=

# Configure https locally https://stackoverflow.com/a/76525335
USE_HTTPS_ON_LOCALHOST=false

## Custom Domain
TEAM_ID_VERCEL=
PROJECT_ID_VERCEL=
AUTH_BEARER_TOKEN=
